<label for="nav-trigger"></label>
<input type="checkbox" id="nav-trigger">

<nav class="navigation" role="navigation">
  <ul class="navigation-list">

    {{#foreach navigation}}
      <li class="navigation-list-item navigation-list-item-{{slug}}{{#if current}} navigation-list-item__current{{/if}}">
        <a class="navigation-list-item--link" href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}

  </ul>
</nav>
