{{!< default}}
<link href="/dist/index.css" rel="stylesheet" media="none" onload="media='all'" />
<header class="index-header">
  <img src="{{@site.logo}}" alt="{{@site.title}}" role="logo" />
  <h1 class="index-header-title">{{@site.title}}</h1>
</header>

<main class="page-container" role="main">
  {{> "loop"}}
</main>

{{pagination}}
