{{!< default}}

<main class="page-container" role="main">
  <header class="page-container__header">
    <h1 class="page-container__header--title center">{{@blog.title}}</h1>
  </header>

  {{> "loop"}}
</main>

{{pagination}}
