{{!< default}}
<link href="/assets/css/index.css" rel="stylesheet" media="none" onload="media='all'" />
<header class="index-header">
  <img src="{{@blog.logo}}" alt="{{@blog.title}}" role="logo" />
  <h1 class="index-header-title">{{@blog.title}}</h1>
</header>

<main class="page-container" role="main">
  {{> "loop"}}
</main>

{{pagination}}
