{{!< default}}

<main class="page-container" role="main">
  <header class="page-container__header center">
    <h1 class="page-container__header--title">{{tag.name}}</h1>

    {{#if tag.description}}
      <section class="page-container__header--meta">
        {{tag.description}}
      </section>
		{{/if}}
  </header>

  {{> "loop"}}
</main>

{{pagination}}
