@link_color: #0096ba;
@link_color_hover: #00728f;
@text_color: rgba(0, 0, 0, 0.87);

.transition {
  transition: all 0.25s ease;
}

html {
  font-size: 100%;
}

body, figure {
  margin: 0;
  padding: 0;
}

body {
  color: @text_color;
  font-family: 'Slabo 27px', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: @link_color;
  text-decoration: none;

  .transition();

  &:hover {
    color: @link_color_hover;
  }

  img {
    border: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  margin: 0 0 36px;
  padding: 0;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.3rem;
  line-height: 1.7;
  margin-bottom: 24px;
}

.center {
  text-align: center;
}
