.index {
  &-header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 3em;
    padding: 4em 0 1em;
    text-align: center;

    &-title {
      font-size: 2em;
      margin: 0;
    }

    [role="logo"] {
      max-width: 192px;
      margin-bottom: 2em;
    }
  }
}
