@media screen and (max-width: 799px) {
  .navigation-trigger {
    left: 0.5em;
    font-size: 24px;
    position: absolute;
    top: 0.5em;
  }
}

@media screen and (max-width: 752px) {
  .index-header {
    box-sizing: border-box;
    margin-left: 1em;
    margin-right: 1em;
  }

  .page-container {
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (max-width: 479px) {
  .page-footer-brand img {
    max-height: 160px;
  }

  .post-author {
    align-items: center;
    flex-direction: column;
    text-align: center;

    &-bio {
      padding: 16px 0 0;
    }
  }
}
