.post {

  &-share {
    align-items: center;
    display: flex;
    justify-content: space-around;

    &-link {
    	align-items: center;
    	border-radius: 50%;
    	display: flex;
    	height: 24px;
      justify-content: center;
      margin: 0 8px;
    	width: 24px;
    }

    &-google-plus:hover {
    	background-color: #e2131e;
    }

    &-facebook:hover {
    	background-color: #777;
    }

    &-twitter {
    	background-color: #32aadc;
    }

    &-linkedin:hover {
    	background-color: #007bb5;
    }
  }

  &-author, &-comments {
    border-top: 1px solid #DDD;
    padding: 2rem 0;
  }

  &-author {
    display: flex;
    justify-content: space-between;

    &-avatar {
      border-radius: 50%;
      height: 96px;
      overflow: hidden;
      width: 96px;
    }

    &-bio {
      flex-grow: 1;
      padding-left: 24px;
    }

    &-name {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 479px) {
  .post-author {
    align-items: center;
    flex-direction: column;
    text-align: center;

    &-bio {
      padding: 16px 0 0;
    }
  }
}
