.post {

  &-author, &-comments {
    border-top: 1px solid #DDD;
    padding: 2rem 0;
  }

  &-author {
    display: flex;
    justify-content: space-between;

    &-avatar {
      border-radius: 50%;
      height: 96px;
      overflow: hidden;
      width: 96px;
    }

    &-bio {
      flex-grow: 1;
      padding-left: 24px;
    }

    &-name {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 479px) {
  &-author {
    align-items: center;
    flex-direction: column;
    text-align: center;

    &-bio {
      padding: 16px 0 0;
    }
  }
}
