.author {
  &-header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &-avatar {
    border-radius: 50%;
    height: 128px;
    margin-bottom: 16px;
    overflow: hidden;
    width: 128px;
  }
}
